@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap");

/* ****************************************
# Gereral styles
*******************************************/
body {
  font-family: "Roboto Mono", monospace;
  color: black;
  padding: 0;
  margin: 0;
  /* background-color: burlywood; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

/* ****************************************
# Header
*******************************************/
#header {
  background: rgba(21, 5, 23, 0.25);
  transition: all 0.5s;
  z-index: 997;
  /* padding: 0.94rem 0; */
  margin: 0;
  position: relative;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(21, 5, 23, 0.85);
}

#header .logo {
  font-size: 1.88rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
  text-decoration: none;
}

/* ****************************************
# Nav menu
*******************************************/

#btn-menu {
  display: none;
}

header label {
  display: none;
  width: 50px;
  height: 50px;
  padding: 10px;
}

header label:hover {
  cursor: pointer;
  background: white;
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 1rem;
  /* justify-content: center; */
}

.menu ul li:hover {
  background: #f57d5d;
  color: black;

}

.menu ul li a {
  display: block;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  border-bottom: rgb(0, 4, 255);
}


@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    /* background: black; */
    background: #887d78;
    width: 40%;
    margin-left: -700%;
    transition: all 0.5s ease-in-out ;
    z-index: 5000;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid black;;
  }
  .menu li a {
    color: black;
  }

  #btn-menu:checked ~ .menu {
    margin: 0;
  }
}


/* ****************************************
# Hero
*******************************************/
#hero {
  width: 100%;
  height: 70vh;
  background: url("./../img/imagesFin/bombebotimages2.jpg") top center no-repeat;
  /* background: url("../img/imagen1.jpg") top center; */
  background-size: 100%;
  position: relative;
  margin-bottom: -4.5rem;
}
#hero:before {
  content: "";
  background: rgba(125, 113, 98, 1);
  background: -moz-linear-gradient(
    left,
    rgba(125, 113, 98, 1) 0%,
    rgba(255, 211, 158, 0.16) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(125, 113, 98, 1)),
    color-stop(100%, rgba(255, 211, 158, 0.16))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(125, 113, 98, 1) 0%,
    rgba(255, 211, 158, 0.16) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(125, 113, 98, 1) 0%,
    rgba(255, 211, 158, 0.16) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(125, 113, 98, 1) 0%,
    rgba(255, 211, 158, 0.16) 100%
  );
  background: linear-gradient(
    to right,
    rgba(125, 113, 98, 1) 0%,
    rgba(255, 211, 158, 0.16) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7162', endColorstr='#ffd39e', GradientType=1 );

  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
/*   left: 0.94rem;
  right: 0.94rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#hero h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: 700;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin: 0.94rem 0 0 0;
  font-size: 1.5rem;
}

#hero .btn-get-started {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.06;
  display: inline-block;
  padding: 0.63rem 2.5rem;
  border-radius: 0.25rem;
  transition: 0.5s;
  margin-top: 1.88rem;
  border: 0.13rem solid #fff;
  color: #fff;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #ff7f5d;
  border: 0.13rem solid #ff7f5d;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 20rem; 
  }
  #hero h1 {
    font-size: 3rem;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  #hero {
    height: 30rem;
    width: 100%;
  }
  #hero .hero-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #hero {
    height: 15.5rem;
    width: 100%;
  }
  #hero .hero-container {
    width: 100%;
  }
}

@media (max-width: 414px) {
  #hero {
    /* height: 14rem; */
    width: 100%;
    height: 24vh;
  }
  #hero .hero-container {
    width: 100%;
    height: 8rem;
  }
  #hero h1 {
    color: white;
    font-size: 2rem;
    line-height: 0.1rem;
  }
  #hero h2 {
    color: black;
    background: orange;
    border-radius: 5px;
    font-size: 0.80rem;
    line-height: 24px;

  }
}

/* ****************************************
# Sections General
*******************************************/
section {
  padding: 3.75rem 0;
}
.section-bg {
  background-color: #fafafa;
}
.section-title {
  text-align: center;
  padding-bottom: 1.88rem;
}
.section-title h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.13rem;
  height: 0.19rem;
  background: #ff7f5d;
  bottom: 0;
  left: calc(50% - 1.56rem);
}

.section-title p {
  margin-bottom: 0;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

/* ****************************************
# About sections
*******************************************/
.about .content h3 {
  font-weight: 600;
  font-size: 1.63rem;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 1.75rem;
  position: relative;
}

.about .content ul li + li {
  margin-top: 0.63rem;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 0.13rem;
  font-size: 1.25rem;
  color: #ff7f5d;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  /* font-family: "Raleway", sans-serif; */
  font-weight: 600;
  font-size: 0.88rem;
  letter-spacing: 0.06rem;
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #ff7f5d;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  margin-top: 0.38rem;
  border: 0.13rem solid #ff7f5d;
}

.about .content .btn-learn-more:hover {
  background: #ff7f5d;
  color: #fff;
  text-decoration: none;
}

/* ****************************************
# Our values
*******************************************/
.our-values .card {
  border: 0;
  padding: 10rem 1.25rem 1.25rem 1.25rem;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-box-shadow: 0px 11px 30px 2px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 11px 30px 2px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 11px 30px 2px rgba(0, 0, 0, 0.42);
  margin-bottom: 2.4rem;
}

.our-values .card-body {
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 30px;
  box-shadow: 0rem 0.13rem 0.94rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  transition: ease-in-out 0.4s;
  border-radius: 0.5rem;
}

.our-values .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.94rem;
}

.our-values .card-title a {
  color: #150517;
  text-decoration: none;
}

.our-values .card-text {
  color: #5e5e5e;
}

.our-values .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  transition: 0.4s;
  text-decoration: none;
}

.our-values .read-more a:hover {
  text-decoration: underline;
}

.our-values .card:hover .card-body {
  background: #ff7f5d;
}

.our-values .card:hover .read-more a,
.our-values .card:hover .card-title,
.our-values .card:hover .card-title a,
.our-values .card:hover .card-text {
  color: #fff;
  text-decoration: none;
}

/* ****************************************
# Our team
*******************************************/
.team .section-title p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
.team .member {
  margin-bottom: 1.25rem;
  overflow: hidden;
  border-radius: 0.25rem;
  background: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0 0.05);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
  padding: 1.56rem 0.94rem;
}

.team .member .member-img img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 0.31rem;
  font-size: 1.13rem;
  color: #052c3f;
  text-align: center;
}

.team .member .member-info span {
  display: block;
  font-size: 0.81rem;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.5rem;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.794);
  background-position-x: -10px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #052c3f;
  margin: 0 0.63rem;
  font-size: 1.4rem;
  /* padding-top: 8px; */
  display: inline-block;
  text-decoration: none;
}

.team .member .social a:hover {
  color: #ff7f5d;
}
.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  /* background: url("../img/footer-bg.jpg") center center no-repeat; */
  background-color: blue;
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(2, 0, 2, 0.6);
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 1rem 0;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  /* font-family: "Poppins", sans-serif; */
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15px;
  font-style: italic;
  margin: 0 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 1rem;
  /* margin-top: 30px; */
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  /* padding: 6px 10px; */
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #ff9377;
}

#footer .footer-bottom {
  border-top: 1px solid white;
  z-index: 2;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footer .copyright {
  float: left;
}

#footer .credits {
  float: right;
  font-size: 1rem;
}

@media (max-width: 768px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
  }
  #footer .credits {
    padding-top: 5px;
  }
}



